<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.com.module_4" >
    <application   android:networkSecurityConfig="@xml/network_security_config">
        <receiver android:name="client.com.baselibs.receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
